:root {
  --primary:   #03254c;
  --secondary: #1167b1;
  --tertiary:  #187bcd;
  --accent:    #2a9df4;
  --light:     #d0efff;
  --white:     #ffffff;
  --white-gray: #f8f9fa;
  --black:     #000000;
  --black-gray: #343a40;
}

* {
   
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white-gray);
    font-family: Arial, sans-serif;
}


/* menu */
#menu {
  background-color: var(--white);

}

#logo {
    display: flex;
    flex-direction: column;
}

#logo img {
    margin-left: 4px;
}

#logo a {
    font-weight: bold;
    margin-top: -20px;
    font-size: 12px;
    text-transform: uppercase;
}

#banner {
   width: 100%;
   object-fit: contain;
}


.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  padding: 5px;
  background-color: var(--white);
}

.imagen-grid {
  height: 100%;
  width: 100%;
  background-color: #03254c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:5px 0px 0px 5px;
 
}

.detalle-grid {
  display: grid;
  min-height: 300px;
  grid-template-rows: 50px 1fr  ;

}

.comprar-grid {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 1fr;
  gap: 5px;
  padding: 5px;
}

.text-span {
  color: var(--black-gray);

}

.text-precio {
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}



/* celular */
@media screen and (max-width: 425px) {
  #bienvenido {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;

  }

.imagen-grid {
  border-radius:5px 5px 0px 0px;

}


}

/* Centrar menu */
@media screen and (min-width: 425px) {
  /* menu */
  #navbarNav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
