:root {
  --primary: #03254c;
  --secondary: #1167b1;
  --tertiary: #187bcd;
  --accent: #2a9df4;
  --light: #d0efff;
  --white: #ffffff;
  --white-gray: #f8f9fa;
  --black: #000000;
  --black-gray: #343a40;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white-gray);
  font-family: Arial, sans-serif;
}

/* menu */
#menu {
  background-color: var(--white);
}

#logo {
  display: flex;
  flex-direction: column;
}

#logo img {
  margin-left: 4px;
}

#logo a {
  font-weight: bold;
  margin-top: -20px;
  font-size: 12px;
  text-transform: uppercase;
}

#banner {
  width: 100%;
  object-fit: contain;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  padding: 5px;
  background-color: var(--white);
  border-radius: 5px;
}

.detalle-grid {
  display: grid;
  min-height: 100px;
  grid-template-rows: 50px 70px 1fr;
}

.comprar-grid {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 1fr;
  gap: 5px;
  padding: 5px;
}

.text-span {
  color: var(--black-gray);
}

.text-precio {
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}

.imagen-grid {
  height: 500px;
  width: 400px;
  padding: 10%;
  transition: transform 0.3s ease;
  background-color: #03254c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.imagen-grid:hover {
  transform: scale(1.2);
}

.galeria-grid {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-grid {
  width: 80px;
  height: 80px;
  margin: 1px;
  padding: 3%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #03254c;
}

.img-grid:hover {
  transform: scale(1.1);
}

/* celular */
@media screen and (max-width: 425px) {
  #bienvenido {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .imagen-grid {
    height: 300px;
    width: 300px;
    padding: 10%;
  }

  .img-grid {
    width: 62px;
    height: 61px;
  }
}

/* Centrar menu */
@media screen and (min-width: 425px) {
  /* menu */
  #navbarNav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* desktop lg personalizado */
@media (min-width: 1200px) {
  /* Márgenes totales */
  .m-xl-8 {
    margin: 3rem !important;
  }
  /* Márgenes horizontales */
  .mx-xl-7 {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
  }
}
